@{

}
<h3 class="text-center">Forgot Password</h3>

<div style="width: 40rem;margin-top: 18rem;margin-left: 23%;">
    <div class="card">
        <div class="card-body">
            <form class="form-floating">
                <div class="mb-3">
                    <label id="Email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="Email" name="Email" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <button type="button" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(() => {
        console.log("ready")
    })
</script>